<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storyproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StoryProject"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryProject">
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".FairActivity5" />
        <activity android:name=".FairActivity4" />
        <activity android:name=".FairActivity3" />
        <activity android:name=".FairActivity2" />
        <activity android:name=".FairActivity1" />
        <activity android:name=".FolkActivity5" />
        <activity android:name=".FolkActivity4" />
        <activity android:name=".FolkActivity3" />
        <activity android:name=".FolkActivity2" />
        <activity android:name=".FolkActivity1" />
        <activity android:name=".HomeActivity5" />
        <activity android:name=".HomeActivity4" />
        <activity android:name=".HomeActivity3" />
        <activity android:name=".HomeActivity1" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>